doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title watchinggo
        link(rel="stylesheet", href="public/css/style.css")
    body
        div(class="flex flex-col justify-center items-center")
            header(class="container flex justify-center items-center p-5")
                h1(class="text-lg font-bold") watchinggo
            main(class="container flex justify-center items-center h-screen")
                div#welcome(class="")
                    form#nickname(class="border-b-2 pb-3 border-slate-200")
                        input(placeholder="Your Name",required, type="text" class="welcome-input")
                        button(class="welcome-button") Save   
                    form#roomName(class="")
                        input(placeholder="Room Name",required, type="text" class="welcome-input")
                        button(class="welcome-button") Enter Room      
                div#call(hidden="true",class="")
                    div(class="flex justify-between")
                        div#myStream
                            div(class="flex")
                                div(class="flex flex-col")
                                    video#myFace(autoplay, playsinline, width="200",class="rounded-md")
                                    select#cameras(class="my-2 w-52")
                                div(class="flex flex-col")    
                                    div(class="flex flex-col") 
                                        button#mute Mute
                                        button#camera Turn Camera off
                        div#peerStream
                            video#peerFace(autoplay, playsinline, width="200",class="h-[150px] rounded-md border bg-gray-200")
                    div(class="flex justify-center items-center mb-2 rounded-md border border-amber-300")
                        div#myStartBtn(class="w-full h-full p-2 text-center cursor-pointer",hidden="true") Start
                    div#game
                        div#turnInfo(class="flex justify-center items-center rounded-md p-2 bg-amber-200")
                            div#turn(class="w-8 h-8 border bg-black rounded-full hidden")
                            div#info(class="ml-4 hidden") My Turn
                        canvas#gameBoard(width="670", height="670", class="bg-amber-300 rounded-md")
                    div#modal(class="hidden")
                        div#modalOverlay
                        div#modalContent
                            h1#winner(class="font-bold text-lg")
                            div#modalMessage 다시 시작하려면 Ready를 눌러주세요
                            div(class="flex justify-center items-center")
                                button#reload(class="base-button bg-amber-400 mx-1 p-2") Ready
                                button#cancel(class="base-button mx-1 p-2") 나가기
                    
        script(src="/socket.io/socket.io.js") 
        script(src="public/js/board.js")
        script(src="public/js/game.js")
        script(src="public/js/app.js")
        script(src="public/js/createId.js")
        script(src="public/js/modal.js")
        script(src="public/js/setRange.js")
        script(src="public/js/stones.js")