doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title watchinggo
        link(rel="stylesheet", href="public/css/style.css")
    body(class="flex flex-col justify-center items-center")
        header(class="container flex justify-center items-center")
            h1(class="text-lg font-bold") watchinggo
        main(class="container flex justify-center items-center")
            div#welcome(class="")
                form#nickName(class="")
                    input(placeholder="Your Name",required, type="text")
                    button Save   
                form#roomName(class="")
                    input(placeholder="Room Name",required, type="text")
                    button Enter Room      
            div#call(class="",hidden=true)
                div#myStream(class='')
                    video#myFace(autoplay, playsinline, width="300", height="300",class="rounded-md")
                    button#mute Mute
                    button#camera Turn Camera off
                    select#cameras
                div#game
                    div#turn
                    canvas#gameBoard(width="670", height="670", class="bg-amber-300 rounded-md")
                div#modal
                    div#overlay
                    div#content
                        h1#winner
                        button#reload
                        button#cancel
                div#peerStream
                    video#peerFace(autoplay, playsinline, width="300", height="300",class="rounded-md")
        script(src="/socket.io/socket.io.js") 
        script(src="public/js/app.js")
        script(src="public/js/board.js")
        script(src="public/js/createId.js")
        script(src="public/js/game.js")
        script(src="public/js/setRange.js")
        script(src="public/js/stones.js")